extends layout

block content
    .row
        .error(style={width: '50%', margin: 'auto'})
            h1 Oops! Something went wrong with your request.
            p #{title}
            if error
                p Error: #{error}
            .error-img(style={width: '50%', margin: 'auto'})
                img(src='images/sadDog.jpg', style={width: '450px'})